@import "./utils/variables";
@import "./utils/base";
@import "./utils/placeholders";
@import "./utils/reset";

@import "./layout/container";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/section";

@import "./components/logo";
@import "./components/section-title";
@import "./components/social-networks";


@import "./components/header/contacts";
@import "./components/header/navigation";


@import "./components/index/clients";
@import "./components/index/features";
@import "./components/index/hero";
@import "./components/index/modal";
@import "./components/index/team";
@import "./components/index/works";

@import "./components/form/form";
@import "./components/form/input-field";
@import "./components/form/textarea-field";
@import "./components/form/terms-field";


@import "./components/portfolio/cards";
@import "./components/portfolio/filter-btn";
@import "./components/portfolio/portfolio";

@import "./components/footer/adress";
@import "./components/footer/subscribe";
@import "./components/footer/footer-headin";



