.section {
  padding: 60px 0;

  @media (min-width: 1200px) {
    padding: 94px 0;
  }

  &--work {
    @media (max-width: 1200px) {
      display: none;
    }
    padding-top: 0;
    text-align: center;
  }

  &--team {
    text-align: center;
    background-color: getColor("bcg-secondary");
  }

  &--clients {
    text-align: center;
  }
}
