.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  &__accent{
	    color: getColor('accent');
  }

  &--header{
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: getColor('title');
}

&--footer{
  display: inline-block;
  margin-bottom: 28px;
  color: getColor('title-secondary');
}
}

