.section-title {
	margin-bottom: 30px;
  color: getColor("title");
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;

  @media (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
