.contacts {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
	 margin-top: auto;
	 margin-bottom: 64px;
  }

  @media (min-width: 1200px) {
    display: flex;
  }

  &__item:not(:last-child) {
    @media (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }

    @media (min-width: 1200px) {
      margin-right: 40px;
    }
  }
  &__item:last-child {
    @media (max-width: 767px) {
      margin-bottom: 32px;
    }
  }
  &__icon {
    display: none;

    @media (min-width: 768px) {
      display: block;
      fill: currentColor;
      margin-right: 10px;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-size: 34px;
  line-height: 1.17;
  color: getColor("main-text");
  transition: var(--transition-link);
  @extend %link-font;

  &:hover,
  &:focus {
    color: getColor("accent");
  }

  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 1.16;
  }
  @media (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &-mobmenu {
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.02em;
    }
  }
}
