
.features {
  display: flex;

  &__thumb {
   @extend %centered;

  margin-bottom: 30px;
  background-color: getColor('bcg-secondary');
  width: 270px;
  height: 120px;
}
  &__title {
  margin-bottom: 10px;
  color: getColor("title");
  font-weight: 700;
  line-height: 1.14;
}
}


.features__item {
  max-width: 270px;

  &:not(:last-child) {
  margin-right: 30px;
}
}

.heading {
	@extend %visually-hidden;
}
