.hero {
  max-width: 1600px;
  padding: 118px 0;
  text-align: center;
  height: 400px;
  margin: 0 auto;
  background-color: gerColor("bcg-footer");
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heroimg_mob.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heroimg_tab.jpeg);
  }

  @media (min-width: 1200px) {
    height: 600px;
    padding: 200px 0;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heroimg.jpeg);
  }

  &__title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: getColor("title-secondary");
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media (min-width: 768px) {
      max-width: 360px;
    }
    @media (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }
  }

  &__btn {
    @extend %btn;

    padding: 10px 24px;
  }
}
