.works {
  position: relative;
  display: flex;

  &__item:not(:last-child) {
  margin-right: 30px;
}

  &__thumb {
  position: relative;
}

  &__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: getColor('title-secondary');
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
}
}

